<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Intra in cont</title>
    <link rel="stylesheet" type="text/css" href="~/css/log_in_style.css">
    <link rel="stylesheet" type="text/css" href="~/css/style.css">
</head>
<body>
    <h3> </h3>
    <div class="bg-img">
        <form action="/action_page.php" class="container">
            <h1>Login</h1>

            <label for="email"><b>Email</b></label>
            <input type="text" placeholder="Enter Email" name="email" required>

            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="psw" required>

            <button type="submit" class="btn","active" asp-controller="User" asp-action="user_home">Login</button>
        </form>
    </div>
</body>
</html>