 @model IEnumerable<recipePickerApp.Models.Ingredient>
<!DOCTYPE html>
    <link rel="stylesheet" type="text/css" href="~/css/style.css">
    <link rel="stylesheet" type="text/css" href="~/css/AddIngredients.css">
    <html>
    <body>
        <h3>Adauga ingrediente la retea ta</h3>


        @**<div class="form-group">*@

        @foreach (var item in Model)
        {
            @*@Html.CheckBox(@Html.DisplayFor(modelItem => item.Name))*@
            <input type="checkbox" id="vehicle1" name="vehicle1" value="Ceapa">
            <label for="vehicle1"> @Html.DisplayFor(modelItem => item.Name)</label><br>

        }



        @*</div>*@

        @*<input type="checkbox" id="vehicle1" name="vehicle1" value="Ceapa">
        <label for="vehicle1"> Ceapa</label><br>
        <input type="checkbox" id="vehicle2" name="vehicle2" value="Morcovi">
        <label for="vehicle2"> Morcovi</label><br>
        <input type="checkbox" id="vehicle3" name="vehicle3" value="Cartofi">
        <label for="vehicle2"> Cartofi</label><br>*@
    </body>
</html>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
