@{
    <!DOCTYPE html>
    <html>

    <head>

        <meta charset="utf-8" />
        <title>Categorii</title>
        <link rel="stylesheet" type="text/css" href="~/css/style.css">
        <link rel="stylesheet" type="text/css" href="~/css/category_style.css">
    </head>
    <body>

        <h3>Categorii</h3>

        <div>
            <div class="gallery">
                <a asp-controller="Recipe" asp-action="CategoryRecipes" asp-route-category="DIVERSE">
                    <img src="~/images/aperitiv.jpg" alt="Cinque Terre" width="600" height="400">
                </a>
                <div class="desc">Diverse</div>
            </div>

            <div class="gallery">
                <a asp-controller="Recipe" asp-action="CategoryRecipes" asp-route-category="PRAJITURI">
                    <img src="~/images/desert.jpg" alt="Northern Lights" width="600" height="400">
                </a>
                <div class="desc">Prajituri</div>
            </div>

            <div class="gallery">
                <a asp-controller="Recipe" asp-action="CategoryRecipes" asp-route-category="CIORBE">
                    <img src="~/images/ciorba.jpg" alt="Northern Lights" width="600" height="400">
                </a>
                <div class="desc">Ciorbe/Supe</div>
            </div>
            <div class="gallery">
                <a asp-controller="Recipe" asp-action="CategoryRecipes" asp-route-category="PAINE">
                    <img src="~/images/paine.jpg" alt="Cinque Terre" width="600" height="400">
                </a>
                <div class="desc">Paine</div>
            </div>
            <div class="gallery">
                <a asp-controller="Recipe" asp-action="CategoryRecipes" asp-route-category="PORC">
                    <img src="~/images/porc.jpg" alt="Forest" width="600" height="400">
                </a>
                <div class="desc">Preparate carne de porc</div>
            </div>

            <div class="gallery">
                <a asp-controller="Recipe" asp-action="CategoryRecipes" asp-route-category="PUI">
                    <img src="~/images/pui.jpg" alt="Forest" width="600" height="400">
                </a>
                <div class="desc">Preparate carne de pui</div>
            </div>

            <div class="gallery">
                <a asp-controller="Recipe" asp-action="CategoryRecipes" asp-route-category="PESTE">
                    <img src="~/images/peste-la-cuptor.jpg" alt="Forest" width="600" height="400">
                </a>
                <div class="desc">Pește</div>
            </div>

            <div class="gallery">
                <a asp-controller="Recipe" asp-action="CategoryRecipes" asp-route-category="SALATA">
                    <img src="~/images/salata.jpg" alt="Mountains" width="600" height="400">
                </a>
                <div class="desc">Salată</div>
            </div>

            <div class="gallery">
                <a asp-controller="Recipe" asp-action="CategoryRecipes" asp-route-category="PASTE">
                    <img src="~/images/paste-cat.jpg" alt="Forest" width="600" height="400">
                </a>
                <div class="desc">Paste</div>
            </div>
            <div class="gallery">
                <a asp-controller="Recipe" asp-action="CategoryRecipes" asp-route-category="PIZZA">
                    <img src="~/images/pizza-cat.jpg" width="600" height="400">
                </a>
                <div class="desc">Pizza</div>
            </div>

            <div class="gallery">
                <a asp-controller="Recipe" asp-action="CategoryRecipes" asp-route-category="TRADITIONAL">
                    <img src="~/images/traditional.jpg" width="600" height="400">
                </a>
                <div class="desc">Tradiționale</div>
            </div>

            <div class="gallery">
                <a asp-controller="Recipe" asp-action="CategoryRecipes" asp-route-category="POST">
                    <img src="~/images/traditional.jpg" width="600" height="400">
                </a>
                <div class="desc">Retete de post</div>
            </div>
        </div>
    </body>
</html>
}